<html>
<body>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/animationstyle.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/generated.css') }}">

<!-- The below code does the following:
Iterates through all the words in the input string. 
If it sees that any word in the string is in the list of words that have alliterations
it puts them in a separate span which animates the first letter. 
The code for num ~ counter is to set animation timings and stagger them, as the different spans
have different animation timings. -->

<div id = "containerAnim">
  <div id = "words">
    {% set counter = [1] %}
    {% for indiv in inputString.split() %}
      {% if indiv in alliteratedWords %}
        <div><span id = "{{'num' ~ counter[0]}}">{{ indiv[0] }}</span><div id = "static">{{ indiv[1:]}}</div></div>
        {% if counter.append(counter.pop() + 1) %}{% endif %}  
      {% elif strip_punctuation(indiv) in alliteratedWords %}
        <div><span id = "{{'num' ~ counter[0]}}">{{ indiv[0] }}</span><div id = "static">{{ indiv[1:]}}</div></div>
        {% if counter.append(counter.pop() + 1) %}{% endif %}  
      {% else %}
        <div id = "static">{{ indiv }}</div>
      {% endif %}
    {% endfor %}
  </div>
</div>


 <div class = "wrapper">
      <a href="https://hmckinetictypography.wordpress.com/"> 
        <div class="footer">
          <u>Link to our Blog!</u>
        </div> 
      </a>
</div>

</body>

</html>

