<!DOCTYPE html>
<html >
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='formstyle.css') }}">


<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
 
  
</head>

<body>
  <div class="login">
	<h1>Alliteration Engine V1.2</h1>
    <form action="/login" method="POST" name="login1">
    	<input type="text" name="inputstring" placeholder="Input Text" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Alliterate</button>
    </form>
</body>
</html>
